body {
  padding: 50px;
  font: 15px/1.6 Helvetica, Arial, sans-serif;
}

.Dropdown {
  background-color: #eee;
}

.Dropdown ul {
  border: solid 1px #aaa;
}

.Dropdown li:first-child {
  list-style: none;
}

.an-excluded-class {
  margin-top: 5px;
  padding: 5px;
  background-color: #eee;
}
