
<a href="#" onclick={{action 'toggle'}}>Dropdown</a>

{{#if open}}
  <ul>
    <li><strong>Who do you want to be the next president?</strong></li>
    <li>Trump</li>
    <li>Hillary</li>
    <li>Bernie</li>
    <li>Solaire of Astora</li>
  </ul>
{{/if}}

