
<h2>
  <code>\{{outside-click}}</code> component
</h2>

Click the dropdown below, then try clicking outside of the dropdown

{{drop-down}}

<div class="an-excluded-class">
    This div has an excluded class. Clicking here won't close the dropdown even
    though it's outside the component.
</div>
